/** 底部 */
.footer {
    display: none !important;
}

/** 鼠标样式 */

/** 背景 */
body.hope-ui-light::before, body.hope-ui-dark::before {
    content: '';
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	min-height: 100%;
	background-attachment: fixed;
	background: transparent url(../img/bg_main.webp) center center no-repeat;
	background-size: cover;
	transform: scale(1);
}
/*白天背景稍亮*/
body.hope-ui-light::before {
	filter: blur(5px) brightness(0.7);
}

/*夜间背景稍暗*/
body.hope-ui-dark::before {
	filter: blur(5px) brightness(0.25);
}

/** 头部区域 */
.hope-ui-light .header .header-right > .hope-c-ivMHWx-hZistB-cv.hope-icon-button{
	background-color: rgba(255, 255, 255, 0.5) !important;
}

/** 主内容区域 */
.hope-c-PJLV.hope-c-PJLV-iicyfOA-css {
	z-index: 1;
}

/*主列表夜间模式透明*/
.obj-box.hope-stack.hope-c-dhzjXW.hope-c-PJLV.hope-c-PJLV-iigjoxS-css { 
    background-color: rgb(0 0 0 / 50%) !important;
}

/*readme夜间模式透明*/
.hope-c-PJLV.hope-c-PJLV-iiuDLME-css {
    background-color: rgb(0 0 0 / 50%) !important;
}

/*主列表白天透明*/
.obj-box.hope-stack.hope-c-dhzjXW.hope-c-PJLV.hope-c-PJLV-igScBhH-css {
    background-color: rgba(255, 255, 255, 0.5) !important;
}

/*readme白天透明*/
.hope-c-PJLV.hope-c-PJLV-ikSuVsl-css {
    background-color: rgba(255, 255, 255, 0.5) !important;
}

/*右下角侧边栏按钮透明*/
.hope-c-PJLV-ijgzmFG-css {
    background-color: rgba(255, 255, 255, 0.2) !important;
}
/*右下角侧边栏按钮白天透明*/
body.hope-ui-light .hope-c-PJLV-ijgzmFG-css {
    background-color: rgba(255, 255, 255, 0.7) !important;
}

/*白天模式代码块透明*/
.hope-ui-light pre {
    background-color: rgba(255, 255, 255, 0.1) !important;
}

/*夜间模式代码块透明*/
.hope-ui-dark pre {
    background-color: rgba(255, 255, 255, 0) !important;
}

/** 屏幕宽度小于960用适合尺寸的背景图片 */
@media screen and (max-width:960px) {
    body.hope-ui-light::before, body.hope-ui-dark::before {
		background: transparent url(../img/bg_main_m.webp) center center no-repeat;
		background-size: cover;
    }
}
