/** 底部 */
.footer {
    display: none !important;
}

/** 鼠标样式 */

/** 背景 */

/*白天背景图*/
body.hope-ui-light::before {
    content: '';
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	min-height: 100%;
	background-attachment: fixed;
	background: transparent url(../img/bg_main.webp) center center no-repeat;
	filter: blur(5px) brightness(0.7);
	background-size: cover;
	transform: scale(1);
}

/*夜间背景图*/
body.hope-ui-dark::before {
    content: '';
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	min-height: 100%;
	background-attachment: fixed;
	background: transparent url(../img/bg_main.webp) center center no-repeat;
	filter: blur(5px) brightness(0.25);
	background-size: cover;
	transform: scale(1);
}

/*主列表夜间模式透明，50%这数值是控制透明度大小的*/
.obj-box.hope-stack.hope-c-dhzjXW.hope-c-PJLV.hope-c-PJLV-iigjoxS-css {
    background-color: rgb(0 0 0 / 50%) !important;
}

/*readme夜间模式透明，50%这数值是控制透明度大小的*/
.hope-c-PJLV.hope-c-PJLV-iiuDLME-css {
    z-index: 1;
    background-color: rgb(0 0 0 / 50%) !important;
}

/*主列表透明*/
.obj-box.hope-stack.hope-c-dhzjXW.hope-c-PJLV.hope-c-PJLV-igScBhH-css {
    background-color: rgba(255, 255, 255, 0.5) !important;
}

/*readme透明*/
.hope-c-PJLV.hope-c-PJLV-ikSuVsl-css {
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.5) !important;
}

/*顶部右上角切换按钮透明*/
.hope-c-ivMHWx-hZistB-cv.hope-icon-button {
    background-color: rgba(255, 255, 255, 0.3) !important;
}

/*右下角侧边栏按钮透明*/
.hope-c-PJLV-ijgzmFG-css {
    background-color: rgba(255, 255, 255, 0.2) !important;
}

body.hope-ui-light .hope-c-PJLV-ijgzmFG-css {
    background-color: rgba(255, 255, 255, 0.7) !important;
}

/*白天模式代码块透明*/
.hope-ui-light pre {
    background-color: rgba(255, 255, 255, 0.1) !important;
}

/*夜间模式代码块透明*/
.hope-ui-dark pre {
    background-color: rgba(255, 255, 255, 0) !important;
}