.d-kasuie {
    margin: 0;
    padding: 0;
    width: min(99%, 940px);
    height: auto;
    margin: 0 auto;
}
@import url("https://fonts.googleapis.com/css?family=Roboto:400,400i,700");
body,
html {
  height: 100%;
}
body {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #e9ecff;
  font-family: "Roboto";
}